<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kku.cs.wp.kwanho10.user.mapper.UserMapper">

  <select id="getUserById" parameterType="String" resultType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    SELECT * FROM user WHERE id= #{id}
  </select>

  <select id="getUsers" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User" resultType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    SELECT * FROM user
  </select>

  <select id="getUserRole" parameterType="String" resultType="map">
    SELECT * FROM user_role WHERE user_id = #{id}
  </select>

  <insert id="insertUser" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    insert into user (id, name, email, password, status)
    values (#{id}, #{name}, #{email}, #{password}, #{status})
  </insert>


  <!-- 단일 사용자 조회 -->
  <select id="getUser" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User" resultType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    SELECT * FROM user WHERE id = #{id}
  </select>

  <!-- 사용자 정보 수정 -->
  <update id="updateUser" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    UPDATE user
    SET name = #{name}, email = #{email}, password = #{password}, status = #{status}
    WHERE id = #{id}
  </update>

  <!-- 사용자 삭제 -->
  <delete id="deleteUser" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    DELETE FROM user WHERE id = #{id}
  </delete>

  <!-- 사용자 생성 (기존 insertUser와 동일한 동작을 함) -->
  <insert id="createUser" parameterType="kr.ac.kku.cs.wp.kwanho10.user.entity.User">
    insert into user (id, name, email, password, status)
    values (#{id}, #{name}, #{email}, #{password}, #{status})
  </insert>

</mapper>
